



<div class="container"; style= "margin-bottom: 10px">
  <br>
  <br>
  <br>
  <div class="container-small"><h5>Search by city</h5></div>
  <!-- #location search bar -->
  <div class="container-small">
    <form accept-charset="UTF-8" action="/pools" >
      <div class="row in-line-search">
        <div class="col search-input">
          <input type="text" class="form-control" placeholder="Location">
        </div>
        <div class="col search-input">
          <input type="number" class="form-control" placeholder="Number of swimmers">
        </div>
       <button type="submit" class="red-button">Search</button>
      </div>
    </form>
  </div>


  <!-- cars to show all pools -->
    <div class='container'>
      <div class='row'>
        <% @pools.each do |pool| %>
        <div class='col-4'>
        <a href="/pools/<%=pool.id%>">
          <div class="card-trip-2 black-letters">
            <div class='card-trip-image' style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path pool.photos[rand(0..2)].key %>')">
            </div>
              <div class="card-trip-infos-2">
                  <div>
                    <p><%= pool.description%></p>
                  </div>

              </div>
            </div>
             </a> 
         </div>
       
        <%end %>
      </div>
    </div>
</div>

  