<div class="main-container">
  <h2> Here are your bookings </h2>
  <%= @bookings.each do |booking| %>
  <%= booking.pool.name %>
  <%= booking.status %>
  <%= link_to 'Show', booking  %>
  <% end %>
</div>
