
<div class="main-container">

</div>


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path 'pool_banner' %>');">
  <div class="main-container">
    <h1> Rent a pool <strong> and take a dip</strong></h1>
    <p> Have a mini vacation and relax </p>
    <a class="btn btn-flat" href="#"> Pick a pool!</a>
  </div>
</div>

<div class='main-container'>

<div class= "red-button">
<a href = # >Find a pool</a>
</div>

<div class='cards'>
  <div class='card'>

  </div>


</div>

</div>
