// cards for homepage - samples

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  position: relative;
  font-size: 24px;
  justify-content: center;
  font-weight: bold;


 .card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  color: white;
  border-radius: 5px;
  position: relative;
  height: 180px;
  // &:hover{
  //   background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
  //   box-shadow: none;
 // }
  }

}

.img-1 {
  width: 400px;
  height: 400px;
}

.img-2 {
  width: 250px;
  height: 180px;
}

.img-mg {
  margin-top: 40px;
}

.img-up {
  margin-top: -41px;
}


.card-pool {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-pool > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-pool h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-pool p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-pool .card-pool-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-user {
  position: absolute;
  right: 6px;
  top: 8px;
  width: 40px;
}

@media (max-width: 1020px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

.red{
  color: red;
}

.green{
  color:green;
}

.right {
  margin-right: -55px;
}

.left {
  margin-left: -55px;
}

.block-left {
  margin-left: -60px;
}

