// cards for homepage - samples

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  position: relative;
  font-size: 24px;
  justify-content: center;
  font-weight: bold;


 .link-card:hover {
  text-decoration: none;
  box-shadow: 3px 3px 5px 6px #ccc;
}

 .card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  color: white;
  border-radius: 5px;
  position: relative;
  height: 180px;
  &:hover {
    text-decoration: none;
  }
 }
  // &:hover{
  //   background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
  //   box-shadow: none;
  // }

}

.img-1 {
  width: 400px;
  height: 400px;
}

.img-2 {
  width: 250px;
  height: 180px;
}

.img-mg {
  margin-top: 40px;
}

.img-up {
  margin-top: -41px;
}


.card-pool {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-pool > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-pool h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-pool p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-pool .card-pool-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-user {
  display: flex;
  align-content: center;
  position: absolute;
  right: 10px;
  top: 6px;
  p {
    font-size: 16px;
    margin-right: 10px;
  }
}

.card-trip-description {
  text-align: center;
  margin-top: 40px;
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 15px;
    margin: 5px 0;
  }
}


.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip-2 {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;


}
  // *,*::before, *::after {
  //   box-sizing: border-box;
  // }
 .card-trip-2 > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip-2 h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
.card-trip-2 p {
  font-size: 12px;
  opacity: .7;
  margin: 0;

}
.card-trip-2 .card-trip-infos-2 {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.card-trip-infos-2 .card-trip-user-2 {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
.card-trip-2 .card-trip-infos-2 i{
  color: #E8305B;
  text-decoration: none;
}
.card-trip-2 h2{
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}
.card-trip-image{
  height:200px;
  background-size:cover;
&:hover {
  text-decoration: none;
  box-shadow: 3px 3px 5px 6px #ccc;
}
}

.card-trip-2 .fas-fa{
  background-color: #D23333;

}
.card-trip-pricing {
  min-width: 60px;
  margin-top: 30px;
  margin-right: -10px;
}
// .card-trip-pricing :hover {
//   min-width: 60px;
//   color: #D23333;
//   text-decoration:none;
// }

@media (max-width: 1020px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .cards {
    grid-template-columns: 1fr;
  }
}


.green{
  color:rgba(93, 196, 93, 0.637);
  margin-left: 20px

}

.right {
  margin-right: -55px;
}

.left { 
  margin-left: -55px;
}

.block-left {
  margin-left: -60px;
}

.center {
  margin-left: 150px;
}

.black-letters {
  color: black;
}

.black-letters :hover {
  color: grey;
  text-decoration: none;
  text-shadow: 3px 3px 5px 6px #ccc;

}

.show-card {
  display:flex;
  justify-content: space-between;
}

.avatar-name {
  display: block;
  // margin-right: 20px;
  // margin-top: 20px;

  &p{
    text-align:center;
    margin-top:5px;
  }
}

