
.mg {
        margin-left: 50px;
    }

.main-container {
  margin: 0px 60px 20px 60px;
}
.container-small {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 80px;
  margin-right: 80px;
  justify-content: middle;
}

.first-section {
  margin-top: 20px;
}

.second-section {
  margin-top: 120px
}

.separate {
border-bottom: solid 1px rgba(0,0,0,0.1);
width: 700px;
margin: 0 auto;
margin-top: 120px;

}

.container-show {
  margin-top: 20px;
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.05)
}

.services {
  display: flex;
}

.show-ubication {
  margin-top: 120px;
}
