.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.align-map {
  display:flex;
  justify-content: center;
}

.w-60 {
  width: 60%;
}