.navbar-lewagon {
  justify-content: space-between;
  background: $blueish;
  padding: 2px 60px;
  }

  .navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  }

  .navbar-lewagon .navbar-brand img {
  width: 40px
  }

  .navbar-light .navbar-nav .nav-link {
  font-family: $headers-font;
  color: white;
  &:hover {
    color: #e7305b;
  }

}

.fas {
  color: white;
  &:hover {
    color: #e7305b;
  }
  margin-top: 8px;
}

.logo-inline {
  display: flex;
}

.align-airpool {
  color:white;
  margin-left: 8px;
  margin-top: 8px;
}

h6 {
  font-family: $headers-font;
}

.navbar-btn {
  border-left: solid 2px rgba(255, 255, 255, 0.200);
  border-right: solid 2px rgba(255, 255, 255, 0.200);
}

.mv-right {
  margin-left: 20px;
}